{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<div class="div_container">
		<div class="link_ctn">
			<div class="link_wdt_box">
				<h1>New URL</h1>
				{{ form(productForm) }}
			</div>
			
		</div>
	</div>
{% endblock %}
