{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	{{ dump(sub) }}
	<div class="example-wrapper div_container">
		<div class="example-wrapper div_container">
			<div class="Link_div_ctn">
				{% if user is defined %}
					<a href="{{ path('show', {pseudo: app.user.pseudo}) }}">Your Profil</a>
				{% else %}
					<a href="{{ path('login') }}">Se connecter</a>
				{% endif %}
					<p>Bienvenue sur le site qui te permettra de partager tous tes liens vers tes divers réseaux sociaux N'hesites pas a partager le site et ta page a tes amis !</p>
			</div>
			<div class="abonnement_ctn">
				{% for sub in sub %}
					<div class="sub_abo">
						<h2>{{ sub.id}}</h2>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}
