.idx_ctn_head{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    background-color: black;
    height: 35vw;
    width: 100%;
}
.left_idx_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    z-index: 1;
}
.left_idx_head h2{
    display: flex;
    width: 80%;
    font-size: clamp(30px, 4.5vw, 90px) !important;
    text-align: center;
    font-weight: bold;
    animation: apparition 0.8s ease-in-out;
}
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.left_idx_head a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 30%;
    font-size: 35px;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    color: white;
    background: var(--gradient-button);
    font-weight: bold;
    box-shadow: 0 0 0 0 #ffffff;
    animation: pulse 1.3s;
    animation-iteration-count: 3;
}
.left_idx_head a:hover{
    box-shadow: 0 0 0 0 #ffffff;
    animation: pulse 1.3s infinite;
}
@keyframes pulse{
    to{
        box-shadow: 0 0 0 18px rgba(255, 255, 255, 0.01);
    }
}
.wtd_idx_slid{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    border-radius: 45% 0 0 45%;
    z-index: 0;
}
.ctn_slider_idx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 3s ease;
    /* overflow: hidden; */
}
.img_idx_slider{
    opacity: 0.4;
    display: flex;
    height: 100%;
    /* border-radius: 50px 50px 0 0; */
    transition: all .5s ease;
    /* animation: rotate 500ms ease-in-out; */
    z-index: 2;
}
.img_idx_deux{
    image-orientation: revert;
}
.img_idx_deux:hover, .img_idx_one:hover{
    /* animation: rotate 500ms ease-in-out; */
    z-index: 3;
    box-shadow:  0 2px 5px 2px rgba(0, 0, 0, 2.5);
}
.img_idx_trois:hover{
    box-shadow:  0 2px 5px 2px rgba(0, 0, 0, 2.5);
    /* animation: rotate 500ms ease-in-out; */
    z-index: 2;
}
@keyframes rotate {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 25deg;
    }
}
.right_idx_head img:hover{
    transform: scale(1.1);
    box-shadow:  0 2px 5px 2px rgba(0, 0, 0, 2.5);
}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-250px * 9);
    }
}

/*****Deuxieme partie******/

.idx_ctn_deux_why{
    display: flex;
    flex-direction: column;
    padding: 30px 0 50px 0;
    width: 100%;
    z-index: 1;
    /* height: 30vw; */
    /* background: var(--gradient-card); */
}
.idx_why_head{
    display: flex;
    width: 100%;
}
.idx_why_head h2{
    font-size: 50px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 4vw;
}
.idx_why_ctn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}
.idx_why_ctn_card{
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 25px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 2.5);
}
.idx_why_card{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;  
}
.idx_why_card h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 18px;
    width: 90%;
    height: 3vw;
    /* background: var(--gradient-card); */
    border-radius: 50px;
}
.idx_why_card img{
    border-radius: 25px;
    margin-top: 30px;
    height: 315px;
    width: 100%;
}
/**** PERSONNALISATION PARTIE ****/

.idx_persona_ctn{
    display: flex;
    width: 90%;
}
.wth_idx_persona{
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 100%;
}
.left_side_idx_perso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
}
.left_side_idx_perso h3{
    font-size: 70px;
    text-align: start;
    font-weight: bolder;
}
.left_side_idx_perso p{
    display: flex;
    width: 90%;
    font-size: 20px;
    text-align: start;
}
.rgt_ctn_perso{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
}
/*GRID*/
/* .rgt_side_idx_perso{
    display: grid;
    gap: 5%;
    grid-template-columns: repeat(4,1fr);
    pointer-events: none;
    width: 100%;
}
.rgt_side_idx_perso img{
    height: 300px;
    width: 100%;
    transform: rotate(-4deg);
    border-radius: 15px;
    grid-row: 1/1;
    perspective: 100rem;
    pointer-events: auto;
    transition: transform 0.3s ease;
} */
/* .rgt_side_idx_perso img:hover{
    transform: scale(1.2);
} */
.rgt_side_idx_perso img:nth-child(1){
    --index: -0.5;
    top: 0;
    /* grid-column: 1/span 2; */
}
.rgt_side_idx_perso img:nth-child(2){
    --index: 0.5;
    top: 200px;
    /* grid-column: 2/span 2; */
}
.rgt_side_idx_perso img:nth-child(3){
    --index: 1.5;
    top: 300px;
    /* grid-column: 3/span 2; */
}
.rgt_ctn_perso{
    display: flex;
    width: 49%;
}
.rgt_side_idx_perso{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.rgt_side_idx_perso img{
    position: absolute;
    height: 300px;
    width: 50%;
    border-radius: 15px;
    perspective: 100rem;
    pointer-events: auto;
    transition: transform 0.3s ease;
}

/**** TROISIEME PARTIE ****/

.abo_wth{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.sub_abo{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    background: var(--gradient-card);
}
.sub_abo_idx{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.abonnement_ctn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 35vw;
}
.abo_idx_ctn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 90%;
}
.abo_idx_wth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
}
.abo_wth{
    display: flex;
    width: 100%;
}
.idx_abo_right{
    display: flex;
    width: 45%;
}
.idx_abo_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.idx_abo_rgt_ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.idx_abo_rgt_ctn h3{
    font-size: 60px;
    width: 70%;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.idx_abo_rgt_ctn p{
    font-size: 45px;
    width: 80%;
    text-align: center;
}

.form_contact{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vw;
}
.form_idx_ctn_wth{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.avis_p{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.avis_p h3{
    font-size: 60px;
    font-weight: bold;
}
.avis_p p{
    font-size: 30px;
}
.form_idx_ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 45%;
}
.form_idx_ctn label{
    display: flex;
    font-size: 30px;
    width: 100% !important;
}
.form_idx_div{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.form_idx_div input{
    height: 3vw;
    border-radius: 5px;
    width: 100%;
}
.form_idx_ctn_qst{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_idx_ctn_qst label, .form_idx_ctn_qst input{
    display: flex;
    flex-direction: column;
    height: 3vw;
    border-radius: 5px;
    width: 100%;
}
.idx_form_submit{
    display: flex;
    border: none;
    margin-top: 20px;
    width: 60%;
    height: 3vw;
    background: var(--gradient-button);
    border-radius: 10px;
    color: white;
    font-size: 25px;
}

@media screen and (max-width: 1550px) {
    .abonnement_ctn{
        height: auto !important;
        padding: 5vw 0 5vw 0;
    }
    .idx_abo_rgt_ctn h3{
        font-size: 50px;
        width: 80% !important;
        margin-bottom: 1vw;
        grid-area: 1 / 2 / 2 / 3;
    }
    .idx_abo_rgt_ctn p{
        width: 90% !important;
        grid-area: 1 / 1 / 2 / 2;
    }
    .abo_idx_ctn{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    .idx_abo_right{
        width: 100% !important;
        align-items: center !important;
    }
    .abo_idx_wth{
        width: 100% !important;
        align-items: center !important;
    }
    .abo_wth{
        align-items: center;
    }
    /*---FOOTER---*/
    .form_contact{
        height: auto !important;
    }
    .form_idx_ctn_wth{
        flex-direction: column !important;
    }
    .avis_p{
        flex-wrap: wrap !important;
        width: 90% !important;
    }
    .form_idx_ctn{
        width: 90% !important;
    }
    .form_idx_ctn_qst label, .form_idx_ctn_qst input{
        height: 5vw !important;
    }
    .idx_form_submit{
        width: 60%;
        height: 5vw !important;
    }
}

@media screen and (max-width: 1300px) {
    .idx_ctn_head{
        height: 80vw !important;
        align-items: center;
        padding:50px 0 50px 0;
        background-color: black;
    }
    .left_idx_head h2{
        font-size: 40px;
        width: 70% !important;
    }
    .left_idx_head a{
        width: 50% !important;
        margin-top: 20px !important;
    }
    .right_idx_head{
        height: 100% !important;
    }
    .right_idx_head img{
        height: 80% !important;
        width: auto !important;
    }
    .idx_why_card img{
        height: auto !important;
    }
}

@media screen and (max-width: 750px) {
    .idx_ctn_head{
        height: auto;
        flex-direction: column !important;
        padding-top: 10vw;
        height: auto !important;
        background-color: black;
    }
    .left_idx_head{
        width: 100% !important;
    }
    .left_idx_head h2{
        font-size: 70px !important;
        width: 90% !important;
        text-align: left;
    }
    .left_idx_head a{
        width: 50% !important;
        margin-top: 20px !important;
    }
    .right_idx_head{
        width: 100% !important;
        padding: 10vw 0 10vw 0;
    }
    .right_idx_head img{
        width: 40% !important;
    }
    .idx_ctn_deux_why{
        height: auto;
    }
    .idx_why_head{
        width: 100% !important;
        justify-content: center;
    }
    .idx_why_ctn{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    .idx_why_ctn_card{
        width: 80%;
        margin-top: 15vw;
    }
    .abonnement_ctn{
        padding: 15vw 0 15vw 0;
    }
    .abo_idx_ctn{
        grid-template-rows: repeat(1, 1fr);
    }
    .abo_idx_wth{
        grid-area: 2 / 1 / 3 / 2;
    }
    .idx_abo_right {
        grid-area: 1 / 1 / 2 / 2;
    }
    .idx_abo_rgt_ctn h3{
        width: 100% !important;
        font-size: 35px !important;
        text-align: center !important;
        margin-bottom: 20px;
    }
    .idx_abo_rgt_ctn p{
        font-size: 20px !important;
        text-align: center !important;
    }
    .form_idx_ctn{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .form_idx_one { 
        grid-area: 1 / 1 / 2 / 2;
        width: 90% !important;
    }
    .form_idx_deux { 
        grid-area: 2 / 1 / 3 / 2; 
        width: 90% !important;
    }
    .form_idx_ctn_qst {
        grid-area: 3 / 1 / 4 / 2;
        width: 90% !important;
    }
    .idx_form_submit {
        grid-area: 4 / 1 / 5 / 2;
        width: 90% !important;
        margin-top: 10px !important;
        height: 40px !important;
    }
    .form_idx_ctn label{
        font-size: 20px;
    } 
    .form_idx_div input{
        height: 40px !important;
    }
    .form_idx_ctn_qst input{
        height: 40px !important;
    }
    .form_idx_ctn_qst label{
        height: 30px !important;
    }
}

@media screen and (max-width: 450px) {
    .idx_ctn_head{
        height: auto;
        flex-direction: column !important;
        padding-top: 10vw;
        background-color: black;
    }
    .left_idx_head{
        width: 100% !important;
    }
    .left_idx_head h2{
        font-size: 50px !important;
        width: 90% !important;
    }
    .left_idx_head a{
        width: 90% !important;
        margin-top: 20px !important;
    }
    .right_idx_head img{
        width: 60% !important;
    }
    .right_idx_head{
        width: 100% !important;
        padding: 10vw 0 10vw 0;
    }
    .idx_ctn_deux_why{
        height: auto;
    }
    .idx_why_head{
        width: 100% !important;
        justify-content: center;
    }
    .idx_why_ctn{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }
    .idx_why_head h2{
        margin: 10px !important;
        text-align: justify !important;
        font-size: 40px !important;
    }
    .idx_why_ctn_card{
        width: 90%;
        margin-top: 15vw;
    }
    .idx_why_card img{
        height: auto !important;
    }
    .abonnement_ctn{
        padding: 15vw 0 15vw 0;
    }
    .abo_idx_ctn{
        grid-template-rows: repeat(1, 1fr);
    }
    .abo_idx_wth{
        grid-area: 2 / 1 / 3 / 2;
    }
    .idx_abo_right {
        grid-area: 1 / 1 / 2 / 2;
    }
    .idx_abo_rgt_ctn h3{
        width: 100% !important;
        font-size: 35px !important;
        text-align: center !important;
        margin-bottom: 20px;
    }
    .idx_abo_rgt_ctn p{
        font-size: 20px !important;
        text-align: justify !important;
    }
    .form_idx_ctn_wth{
        width: 100% !important;
    }
    .avis_p{
        margin-top: 30px !important;
    }
    .avis_p h3{
        font-size: 30px !important;
        text-align: center !important;
    }
    .avis_p p{
        font-size: 20px !important;
        text-align: justify !important;
    }
    .form_idx_ctn{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .form_idx_one { 
        grid-area: 1 / 1 / 2 / 2;
        width: 90% !important;
    }
    .form_idx_deux { 
        grid-area: 2 / 1 / 3 / 2; 
        width: 90% !important;
    }
    .form_idx_ctn_qst {
        grid-area: 3 / 1 / 4 / 2;
        width: 90% !important;
    }
    .idx_form_submit {
        grid-area: 4 / 1 / 5 / 2;
        width: 90% !important;
        margin-top: 10px !important;
        height: 40px !important;
    }
    .form_idx_ctn label{
        font-size: 20px;
    } 
    .form_idx_div input{
        height: 40px !important;
    }
    .form_idx_ctn_qst input{
        height: 40px !important;
    }
    .form_idx_ctn_qst label{
        height: 30px !important;
    }
}