.header_nav{
    align-items: center;
}
.nav_a_ctn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 78px;
    height: 42px;
    border-radius: 50px;
    background: var(--gradient-buttonMain);
}
.nav-deux-ctn{
    display: flex;
    flex-wrap: nowrap;
    width: 70%;
}
.navbar_nav_rgt{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin: 0 30px 0 0;
    padding: 0;
    width: 100%;
}
.nav_item_rgt{
    display: flex;
    margin-right: 50px;
    align-items: center;
    justify-content: center;
}
.nav_link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(13, 11, 28);
    color: white;
}
.nav-link {
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.nav_a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
    padding: 0;
    font-weight: bold;
}

@media screen and (max-width: 720px) {
    .header_nav{
        display: flex !important;
        flex-wrap: nowrap !important;
        justify-content: space-between !important;
        width: 100% !important;
    }
    .button_nav_brg{
        border: none;
        width: 42px;
        margin-right: 50px;
        padding: 0;
        cursor: pointer;
        position: relative;
        background-color: black;
    }
    .button_nav_brg span{
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        position: absolute;
        transition: background-color 0.5s ease-in-out;
    }
    .button_nav_brg span::before, .button_nav_brg span::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: transform 0.5s ease-in-out;
    }
    .button_nav_brg span::before{
        transform: translateY(-10px);
    }
    .button_nav_brg span::after{
        transform: translateY(10px);
    }
    .nav-deux-ctn{
        display: none;
    }
    .button_nav_brg.burger_active span {
        background-color: transparent;
    }
    .button_nav_brg.burger_active span::before{
        transform: translateY(0px) rotateZ(45deg);
    }
    .button_nav_brg.burger_active span::after{
        transform: translateY(0px) rotateZ(-45deg);
    }
    .nav_link{
        display: flex;
        position: relative;
        flex-direction: column !important;
    }
    .nav_deux_active{
        display: flex;
        flex-direction: column !important;
        position: absolute;
        width: 100%;
        padding-bottom: 30px;
        top: 70px;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.767);
    }
    .navbar_nav_rgt{
        flex-direction: column !important;
    }
    .nav_item_rgt{
        margin: 30px 0 0 0;
    }
    .nav_item_rgt a{
       font-size: 30px;
       width: 50%;
    }
}
@media screen and (max-width: 380px) {
    .header_nav{
        display: flex !important;
        flex-wrap: nowrap !important;
        justify-content: space-between !important;
        width: 100% !important;
    }
    .button_nav_brg{
        padding: 10px !important;
        margin-right: 10px !important;
    }
}