.show_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile_show_desc{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3vw;
    width: 50%;
}
.desc_show_p{
    font-size: 18px;
}
.desc_show_ctn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.head_show_h{
    display: flex;
    margin: 50px 0 0 0;
}
.head_show_h a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showBtnDesc{
    display: flex;
    border: none;
    border-radius: 50%;
}
.showDesc{
    display: none;
}
.addDescShow{
    display: none;
}
.div_links {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 45px;
    background: linear-gradient(225deg, #0f2f1c 0%, #18404b 50%, #38183b 100%);
}
.div_links a {
    text-decoration: none;
}
.btn_prf_edit{
    background: var(--gradient-button);
    width: 3.5vw;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
}
.btn_prf_edit img{
    width: 2vw;
}

@media screen and (max-width: 720px) {
    .desc_show_ctn{
        text-align : center !important;
    }
    .profile_show_desc{
        width: 80% !important;
    }
    .add_links{
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px !important;
    }
    .add_links a{
        display: flex;
        align-items: center;
        margin: 0 10px 10px 0 !important;
        width: 70% !important;
        height: 60px !important;
    }
    .add_links a p{
        font-size: 30px !important;
        font-weight: bold !important;
    }
    .p_links{
        margin: 0 !important;
    }
    .div_links{
        width: 100% !important;
        min-height: 15vw !important;
        border-radius: 5px !important;
        margin-bottom: 25px !important;
        padding: 0 10px 0 10px !important;
        justify-content: space-between;
    }
    .btn-copy{
        width: 8vw !important;
        height: 8vw !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 380px) {
    .head_show_h h1{
        font-size: 40px !important;
    }
    .profile_img_user{
        width: 40vw !important;
        height: 40vw !important;
    }
    .logo_certified{
        width: 10vw !important;
        height: 10vw !important;
    }
    .desc_show_ctn{
        text-align : center !important;
    }
    .profile_show_desc{
        width: 80% !important;
    }
    .Link_div_ctn{
        padding-top: 10px !important;
        min-width: 90% !important;
    }
    .add_links{
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px !important;
    }
    .add_links a{
        display: flex;
        align-items: center;
        margin: 0 10px 10px 0 !important;
        width: 70% !important;
        height: 60px !important;
    }
    .add_links a p{
        font-size: 30px !important;
        font-weight: bold !important;
    }
    .div_links{
        min-height: 15vw;
        width: 100%  !important;
        border-radius: 50px !important;
        margin-bottom: 25px !important;
        padding: 0 10px 0 10px !important;
    }
    .p_links{
        margin: 0 !important;
        font-size: 12px !important;
    }
    .btn-copy{
        width: 10%;
        height: 10px !important;
        margin: 0 !important;
    }
  }