.show_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile_show_desc{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3vw;
    width: 50%;
}
.desc_show_ctn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.head_show_h{
    display: flex;
    margin-right: 10px;
}
.showBtnDesc{
    display: flex;
    border: none;
    border-radius: 50%;
}
.showDesc{
    display: none;
}
.addDescShow{
    display: none;
}

@media screen and (max-width: 720px) {
    .desc_show_ctn{
        text-align : center !important;
    }
    .profile_show_desc{
        width: 80% !important;
    }
    .add_links a{
        margin-left: 10px !important;
        width: 7vw !important;
        height: 7vw !important;
    }
    .p_links{
        margin: 0 !important;
    }
    .div_links{
        width: 100% !important;
        min-height: 15vw !important;
        border-radius: 5px !important;
        margin-bottom: 25px !important;
        padding: 0 10px 0 10px !important;
        justify-content: space-between;
    }
    .btn-copy{
        width: 8vw !important;
        height: 8vw !important;
        margin: 0 !important;
    }
}

@media screen and (max-width: 360px) {
    .head_show_h h1{
        font-size: 40px !important;
    }
    .head_show_h img{
        width: 10vw !important;
        height: 10vw !important;
    }
    .desc_show_ctn{
        text-align : center !important;
    }
    .profile_show_desc{
        width: 80% !important;
    }
    .Link_div_ctn{
        padding-top: 10px !important;
        min-width: 90% !important;
    }
    .add_links{
        display: flex;
        justify-content: center !important;
        margin-bottom: 20px !important;
    }
    .add_links a{
        display: flex;
        align-items: center;
        margin: 0 10px 10px 0 !important;
        width: 70% !important;
        height: 60px !important;
    }
    .add_links a p{
        font-size: 30px !important;
        font-weight: bold !important;
    }
    .div_links{
        min-height: 15vw;
        width: 100%  !important;
        border-radius: 50px !important;
        margin-bottom: 25px !important;
        padding: 0 10px 0 10px !important;
    }
    .p_links{
        margin: 0 !important;
        font-size: 12px !important;
    }
    .btn-copy{
        width: 10%;
        height: 10px !important;
        margin: 0 !important;
    }
  }