{% extends 'base.html.twig' %}

{% block title %}Modify Link{% endblock %}

{% block body %}
    <div class="div_container">
		<div class="link_ctn">
			<div class="link_wdt_box">
				<h1>Modify URL</h1>
				{{ form(linkForm) }}
			</div>
			
		</div>
	</div>
{% endblock %}
