{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
    {{form_start(form)}}
    <button type="submit">Send</button>
    {{form_end(form)}}
    
{% endblock %}