{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<div class="div_container">
        <h1>Token verification :</h1>
        <p>Check your email, You will receved an token, paste it here, to check if its really you.</p>
        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
		<form action="" method="post">
            <label for="">Token :</label>
            <input type="text" name="code">
            <input type="submit" name="submit_token">
        </form>
	</div>
{% endblock %}
