{% extends 'base.html.twig' %}

{% block title %}Modification Account
{% endblock %}

{% block body %}
    <div class="div_container">
        <div class="modifaccount_ctn">
            <p>Veuillez vérifier vos emails !</p>
        </div>
    </div>
{% endblock %}