{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
    <div class="div_container">
        <div class="settings_ctn">
            <div class="subscribe_parameter_ctn">
                <div class="head_sub_param">
                    <h2>Let visitors subscribe</h2>
                    <a href="{{ path('usersubscribe', {pseudo: user.pseudo})}}">Accept</a>
                </div>
            </div>
            <div class="activated_links">
            
            </div>
        </div>
    </div>
{% endblock %}